
.Loginlabel
{
width:20%;
float:left; 
margin-right: 30px;
}
.TextboxLogin{
   -moz-border-radius:5px 5px 5px 5px;
    border-width: 2px;
    border-color: #CECECE;
    background-color: white;
    color:black;    
} 

.linkRegisterClientCompany a {
    color: Yellow;
    float: left;
    font-size: 12px;
    margin-left: -95px;
    margin-top:-15px;
}

.linkLogin a {
    color: black;
    float: left;
    font-size: 13px;
    margin-left: -67px;
    margin-top: 33px;
    font-family: Calibri;
    font-weight:bold;
    width:190px;
    text-decoration:none;    
}
a:hover
{
	text-decoration:none;
    color:#DF1604;
}

	
	
	#Header
	{
		background:#FFF;
		height: 158px;
	}	
	
	.ResgisterAccount
    {
        margin-right: -8%;
        color: black; 
        float: right; 
        font-family: Calibri; 
        font-size: 12px; 
        font-weight: bold; 
        text-decoration: none;        
    }
    
    
    #ContentBody
    {
    	
    }
    
    
	#DivRegister
	{
        line-height: 38px;
        text-align: center;
        vertical-align: middle;	
    }

	#LoginLogo
	{
	    float: left;
        margin-left: 5px;
        margin-top: 5px;
        width: 38%;
	}

	#LoginForm
	{      
       float: right;
       margin-top: 14px;
       width: 26%;
    }
    #LoginCentre
    {
     display: table;
     float: left;
     margin-top: 4%;
     width: 34.5%;
    }
    #Register
	{
		/*background-color: #D2D2D2;*/
    background: none repeat scroll 0 0 #FFFF66;
    border: 1px none #000000;
    display: table-cell;
    font-family: Arial,sans-serif;
    font-size: 19px;
    height: 38px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    padding-left: 3px;
    padding-right: 3px;
    text-align: center;
    vertical-align: middle;
    }    
	#Forgot
	{
	    font-family: Arial,sans-serif;
        font-size: 19px;
        margin-top: 15px;
	}
	.forgotlinks
	{
	    margin-top:5px;
	    margin-bottom:5px;
	}
     #RegisterUser 
	{
		background-color: #D2D2D2;	
	    border: 1px none #000000;
    display: table-cell;
    font-family: Arial,sans-serif;
    font-size: 19px;
    height: 38px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    padding-left: 3px;
    padding-right: 3px;
    text-align: center;
    vertical-align: middle;
	}
.LoginValidation
 {
     float:left;
     color:Red;
     height: 10px;
     width: 112%;
     font-family:Calibri;
     font-size:13px;
     font-weight:bold;
     margin-left: 12%;
     margin-top:  2px;
 }


	.ClassInput 
	{
		background: none repeat scroll 0 0 #FFFFFF;
		border: 1px solid #A4CCE5;
		color: #666666;
		font-family: Georgia,"Times New Roman",Times,serif;
		font-size: 15px;
		font-style: italic;
		height: 24px;
		margin: -2px 2px 4px;
		padding: 2px 4px;
		width: 176px;
	}
	input[type="text"]:focus  {
        border: 1px solid #2468a5 !important;
		color:#000;
		font-weight:bold;
    }
    input[type="password"]:focus  {
        border: 1px solid #2468a5 !important;
		color:#000;
		font-weight:bold;
    }
    input[type="submit"]:focus  {
        border: 1px solid #2468a5 !important;
		color:#000;
		font-weight:bold;
		margin-top:2px !important;
    }	
.submitLogin
{
	margin-left:0px;
	background:url(../../Content/Images/Styles/button_go.jpg);
	width:32px;
	padding:0px;
}    
.linkRegister a
{
    color: black;
    float: left;
    font-size: 12px;
    margin-left: 380px;
    margin-top: -26px;
    width: 202px;
    font-family:Calibri;
    text-decoration:none; 
    font-weight:bold;          
}
input[type="text"], input[type="password"]
{
	padding: 3px;
	width: 165px;
	margin-bottom: 8px;	
}
#ContentAll
{			
	background-color: #FFFFFF;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;   
}
body
{
	background: #D2D2D2;		
	margin: 0 auto;
	padding: 0;
}
#LinkRegister
{
	color:#000;
	font-weight:bold;
}

.home_bottom
{
	/*background-color: #DFDFDF;*/
    background-color: #FFFF66;
    color: #000000;
    display: block;
    line-height: 40px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}
.home_bottom .home_text
{
    display: block;
    font-family: Arial,sans-serif;
    font-size: 78%;
    font-weight: bold;
}

.home_bottom li
{
    list-style:none;
    font-family: Arial,sans-serif;
    font-size: 78%;
    font-weight: bold;
}
.line
{
   display: table-row;
   clear: both;
   float: left;
   clear: both;
   width: 98%;
}
#LoginLogoForgot
	{
	    margin-right: auto;
        margin-left: auto;
        margin-top: 5px;
        width: 38%;
	}
.itemInLine
{
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
    width: 38%;
}
#lineHeader
	{
		background:#FFF;
		height: 268px;
	}
	 a.Static:link,a.Static:visited,a.Static:hover,a.Static:active
{
	
    color:#0000FF;
}
.companyDisabled
{
background: none repeat scroll 0 0 #FFFF66;
    border: 1px none #000000;
    display: table-cell;
    height: 62px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    padding-left: 3px;
    padding-right: 3px;
    text-align: center;
    vertical-align: middle; 
    width: 60%;   
    font-family: Arial,sans-serif;
    font-size: 78%;
    font-weight: bold;
}