/* CSS Document */
.rhm1{
	width:100%;
	height:31px;
	/*margin:0 auto;*/
	/*background:url(../Images/Menu/rhm1_bg41.gif) repeat-x;*/
	background:lightgray;		
	float:left;
}
.rhm1-left{
	/*background:url(../Images/Menu/rhm1_l40.gif) no-repeat;
	width:12px;/*width:15px;*/
	height:29px;/*height:64px;*/
	float:left;
}
.rhm1-right{
	/*background:url(../Images/Menu/rhm1_r40.gif) no-repeat;
	width:12px;/*width:15px;*/
	height:29px;/*height:64px;*/
	float:right;
}
.rhm1-bg{
	/*background:url(../Images/Menu/rhm1_bg41.gif) repeat-x; */
   float: left;
   width: 70%;

}
.rhm1-bg ul{
	list-style:none;
    height: 36px;
    margin: 0;
    padding: 0;	
}
.rhm1-bg li{
   float: left;
    height: 36px;
    list-style: none;
    margin-top:-1; 
}
.rhm1-bg li a{
	float:left;
    color: white; /*black;*/
    font: bold 12px/36px 'Verdana',sans-serif;
    padding: 0 0 0 0px;
}
.rhm1-bg li a span{
	float:left;	
	padding:0 10px 0 10px;	
}
.rhm1-bg li a span:hover
{
    /*background:#A4A4A4;*/
    font-weight:bold;
}
.fakeHover {
font-weight:bold;
}

/*.rhm1-bg li.current a{
	color:#fff;
	background:red;
	height:30px;
}*/

/*.rhm1-bg li.current a span{
	color:#fff;
	background:green;
	height:30px;
}*/
/*.rhm1-bg li a:hover{
	background:green;
	
}*/
/*.rhm1-bg li a:hover span{
	background:#A4A4A4;
}*/

.rhm1-search-bg
{
	color:#fff;
	background:url(../Images/Menu/sbb.jpg) repeat-x;
	/*height:29px;*/
   float:left;
 width :300px   
}
.rhm1-search-bg input {
background:none repeat scroll 0 0 #FFFFFF;
border:0 none;
margin-right:5px;
width:330px;
margin-top:0px;
}

.rhm1-search-l
{
	color:#fff;
	background:url(../Images/Menu/sbl.jpg) no-repeat;
	width:7px;
	height:29px;
   float:left; 
 }
.rhm1-search-r
{
	color:#fff;
	background:url(../Images/Menu/sbr.jpg) no-repeat right 0px;
	width:62px;
	height:29px;
	float:left;
 }
 .rhm1-search-r input {
background:none repeat scroll 0 0 transparent;
border:0 none;
}
.rhm1-search-r input:hover {
background:none repeat scroll 0 0 transparent;
border:0 none;
}
hover{
}
.hover:hover{
	color:#fff;
	background:url(../Images/Menu/rhm1_hover_menu.png) repeat-x left  -15px;
	height:30px;
	
}

