/* tables */
table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
	border-collapse:collapse;
	
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #EEEFEF;
	border: 1px solid #FFF;
	font-size: 12px;
	padding: 5px;
	padding-right:20px;
	font:bold 11px tahoma,arial,helvetica;
	color:#000000;
}
table.tablesorter thead tr .header {
	background-image: url(../Images/Styles/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
	border:1px solid #AAAAAA;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
	border:1px solid #AAAAAA;

}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(../Images/Styles/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../Images/Styles/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {

}

a.Column:link {

	color: #000000;	
	font:bold 11px tahoma,arial,helvetica;	
	text-decoration:none;

}
a.Column:hover {
	color: #990000;	
	font:bold 11px tahoma,arial,helvetica;	
	text-decoration:none;
}

